* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}


/* ========================
    Global
======================== */

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    font-size: 15px;
}

.container {
    max-width: 330px;
    width: 90%;
    margin: 1.25em auto;
}

@media screen and (min-width: 1024px) {

    .container {
        width: 100%;
        max-width: 1140px;
        margin: auto;
        transform: translateY(15%);
    }
    
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1024px) {

    .container-flex {
        flex-direction: row;
    }
    
}

img {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}


/* ========================
    Typography
======================== */

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    margin-bottom: 1.125em;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 145%;
    margin-bottom: 5em;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}

[learn-more-btn] {
    padding: 0.75em 1.5em;
    border-radius: 50px;
    background-color:hsl(0, 0%, 95%);
    font-weight: 700;
}

[learn-more-btn]:active {
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

/* section-sedans */

.section-sedans [learn-more-btn] {
    color: var(--bright-orange);
}

.section-sedans [learn-more-btn]:active {
    color: hsl(0, 0%, 95%);    
    background-color: var(--bright-orange);
}

/* section-suvs */

.section-suvs [learn-more-btn] {
    color: var(--dark-cyan);
}

.section-suvs [learn-more-btn]:active {
    color: hsl(0, 0%, 95%);    
    background-color: var(--dark-cyan);
}

/* section-luxury */

.section-luxury [learn-more-btn] {
    color: var(--very-dark-cyan);
}

.section-luxury [learn-more-btn]:active {
    color: hsl(0, 0%, 95%);    
    background-color: var(--very-dark-cyan);
}

/* ========================
    Sections
======================== */

.section-sedans,
.section-suvs,
.section-luxury {
    padding: 4.5em 2.5em;
}

.content-wrapper {
    margin: auto;
    max-width: 210px;
    width: 100%;
}

/* section-sedans */

.section-sedans {
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 1024px) {

    .section-sedans {
        border-radius: 10px 0 0 10px;
    }

}

/* section-suvs */

.section-suvs {
    background-color: var(--dark-cyan);
}

/* section-luxury */

.section-luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 1024px) {

    .section-luxury {
        border-radius: 0 10px 10px 0;
    }

}